
@{
    ViewData["Title"] = "Index";
}

<h2>Database</h2>
<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="">
    <input type="submit" class="button" value="Creëer backup" asp-action="BackupDatabase"/>
</form>

