
@{
    ViewData["Title"] = "Index";
}
    <div id="content" class="row">
        <div class="medium-12 columns">
            <h2>Database</h2>
            <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="">
                <input type="submit" class="button blue" value="Creëer backup" asp-action="BackupDatabase" />
            </form>
        </div>
    </div>