
@{
    ViewData["Title"] = "Tijdvakken";
}

    <div class="glider-contain">
        <div class="glider">
            <a href="/TimeLine/Index#periodJagers"><div class="item"><img alt="Test" src="~/images/sliderimg1.png"><span>Tijd van Jagers en Boeren</span></div></a>
            <a href="/TimeLine/Index#periodGrieken"><div class="item"><img alt="Test" src="~/images/sliderimg2.png"><span>Tijd van Grieken en Romeinen</span></div></a>
            <a href="/TimeLine/Index#periodMonniken"><div class="item"><img alt="Test" src="~/images/sliderimg3.png"><span>Tijd van Monniken en Ridders</span></div></a>
            <a href="/TimeLine/Index#periodSteden"><div class="item"><img alt="Test" src="~/images/sliderimg4.png"><span>Tijd van Staten en Steden</span></div></a>
            <a href="/TimeLine/Index#periodOntdekkers"><div class="item"><img alt="Test" src="~/images/sliderimg5.png"><span>Tijd van Ontdekkers en Hervormers</span></div></a>
            <a href="/TimeLine/Index#periodRegenten"><div class="item"><img alt="Test" src="~/images/sliderimg6.png"><span>Tijd van Regenten en Vorsten</span></div></a>
            <a href="/TimeLine/Index#periodPruiken"><div class="item"><img alt="Test" src="~/images/sliderimg7.png"><span>Tijd van Pruiken en Revoluties</span></div></a>
            <a href="/TimeLine/Index#periodBurgers"><div class="item"><img alt="Test" src="~/images/sliderimg8.png"><span>Tijd van Burgers en Stoommachines</span></div></a>
            <a href="/TimeLine/Index#periodDe"><div class="item"><img alt="Test" src="~/images/sliderimg9.png"><span>Tijd van de wereldoorlogen</span></div></a>
            <a href="/TimeLine/Index#periodTelevisie"><div class="item"><img alt="Test" src="~/images/sliderimg10.png"><span>Tijd van Televisies en Computers</span></div></a>
        </div>
        <button class="glider-prev">&laquo;</button>
        <button class="glider-next">&raquo;</button>
        <div id="dots"></div>
        </div>
