
@{
    ViewData["Title"] = "_ViewTimePeriods";
}

<!-- Place somewhere in the <body> of your page -->
<div class="flexslider">
    <ul class="slides">
        <li>
            <p>hoi</p>
        </li>
        <li>
            <p>hoi</p>
        </li>
        <li>
            <p>hoi</p>
        </li>
        <li>
            <p>hoi</p>
        </li>
    </ul>
</div>

