@model Tuple<IEnumerable<AnalyticHasDefaultModel>, IEnumerable<AnalyticDefaultModel>>
@{
    ViewData["Title"] = "Goals";
}

<h2>Goals</h2>
@foreach (var item in Model.Item1)
{
    <p>@item.AnalyticDataId</p>
    <p>@item.AnalyticDefaultName</p>
}

@foreach (var item in Model.Item2)
{
    <p>@item.AnalyticDefaultId</p>
    <p>@item.AnalyticDefaultName</p>
}