@model Tuple<IEnumerable<AnalyticHasDefaultModel>, IEnumerable<AnalyticDefaultModel>>
@{
    ViewData["Title"] = "Goals";
}

<h2>Goals</h2>
<table>
    @using (Html.BeginForm())
    {
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>@Html.CheckBox("checkbox_"+item.AnalyticDefaultId.ToString(), false, new { value = item.AnalyticDefaultId, @checked = "false" })</td>
                <td>@item.AnalyticDefaultName</td>
            </tr>
        }
    }
</table>
