@model IEnumerable<Eduria.Models.AnalyticDataModel>
@{
    ViewData["Title"] = "Index";
}

    <div class="row xlarge">
        
        <div class="medium-10 columns">
            @using (Html.BeginForm("View", "Analytic", FormMethod.Post))
            {
                int year = 0;
                @foreach (var item in Model)
                {
                    if (year <= item.SchoolYearStart)
                    {
                        <p><b>@item.SchoolYearStart</b></p>

                        year = item.SchoolYearStart;
                    }

                    <p>Exam code: @item.ExamCode<br />
                    Periode: @item.PeriodNum<br />
                    <button name="button" value=@item.AnalyticDataId>Selecteer</button></p>
                }
            }
        </div>
    </div>

