@model IEnumerable<Eduria.Models.AnalyticMethodModel>

@{
    ViewData["Title"] = "Method";
}

<h2>Method</h2>

<table>
    <thead>
        <tr>
            <td>Werkwijze</td>
            <td>Gebruiken?</td>
            <td>Resultaat</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (item.Name != "Eigen werkwijze")
            {
                <td>@item.Name</td>
            }
            else
            {
                <td>
                    @item.Name
                    <input type="text" />
                </td>
            }

            <td>
                <input type="checkbox" id="@item.Id" />
            </td>
        </tr>
        }
    </tbody>
</table>



