body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f9;
}

label {
    margin-left: 0rem;
}

h1 {
    font-size: 30px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 24px;
    color: #afacac;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}


h4 {
    font-size: 16px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.spacer-4 {
    height:40px;
}

.txt-green {
    background-color: #74b027;
    font-weight: 800;
    font-size: 20px;
    text-align:center;
    text-transform:uppercase;
    color: #fff;
    margin-bottom: 10px;
}

.txt-red {
    background-color: #ed1c24;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}


.button.green {
    background-color: #74b027;

}

.button.green:hover {
    background-color: #649c1c;
}

.button.red {
    background-color: #ed1c24;
}

.button.red:hover {
    background-color: #ce131a;
}

.button.blue {
    background-color: #29abe2;
}

.button.blue:hover {
    background-color: #1f98cc;
}

.no-button {
    border: none;
    background-color: unset;
    color: #29abe2;
    font-weight: 600;
    cursor: pointer;
}

.no-button:hover {
    color: #ed1c24;
    text-decoration: underline;
}

#myBtn {
    cursor: pointer;
}

#myBtn:hover {
    color: #29abe2;
}

/* Alerts */
.alert {
    color: #fff;
    padding: 10px;
    font-size: 12px;
}
.alert.red {
    background-color: #ed1c24;
}
.alert.green {
    background-color: #74b027;
}

.alert a {
    color: #fff;
    text-decoration: underline;
}
.alert a:visited {
    color: #fff;
    text-decoration:underline;
}

.alert a:hover {
    color: #ed1c24;
    color: #ed1c24;
    text-decoration: underline;
}

#content.errorPage {
    padding-top: 10%;
}

.errorPage h1 {
    font-size: 50px; 
    font-weight: 800; 
    color:#808080;
}

.errorPage h2 {
    font-weight: 800;
    color: #808080;
}

.errorPage h3 {
    font-weight: 600;
    color: #808080;
}

.errorPage a {
    color: #ed1c24;
}

.errorPage a:hover {
    text-decoration:underline
}

.errorPage img {
    width: 400px;
}

.errorPage a:visited {
    color: #ed1c24;
}

.medium {
    max-width: 80%;
}

.large {
    max-width: 90%;
}

.xlarge {
    max-width: 100%;
}

/* General Header*/
#header {
    background-color: #1e1e1e;
    color: #fff;
}

#header a {
    color: #fff;
}

#header a:hover {
    color: #fff;
}


/* General Footer */

footer {
    background-color: #f7f7fa;
    padding: 10px 0;
    color: #565555;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
}

/* Dashboard */

#dashboardContent {
    background-color: #f7f7f9;
    padding: 100px 0;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}

.dashboardItem {
    box-shadow: 0 0 5px #eeeded;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.dashboardItem i {
    padding-top: 30px;
}

.dashboardItem.green {
    background-color: #74b027;
    color: #fff;
}

.dashboardItem.grey {
    background-color: #ddd;
    color: #6b6b6b;
}

.dashboardItem.orange {
    background-color: #ffae00;
    color: #fff;
}

.dashboardItem.orange a {
    color: #fff;
}

.dashboardItem.green a {
    color: #fff;
}

.dashboardItem.blue {
    background-color: #29abe2;
    color: #fff;
}

.dashboardItem.blue a {
    background-color: #29abe2;
    color: #fff;
}

.dashboardItem.red {
    background-color: #e85359;
    color: #fff;
}

.dashboardItem.red a {
    background-color: #e85359;
    color: #fff;
}

.logo {
    width: 150px;
}

.button {
    color: #fff;
    border-radius: unset;
}


.ghost {
    background-color: unset;
    border: 1px solid #ed1c24;
    border-radius: unset;
    color: #ed1c24;
}

.ghost:hover {
    background-color: #ed1c24;
}

a {
    color: #29abe2;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border: unset;
    box-shadow: unset;
    border-radius: 1px;
    border: 1px solid #e9e9e9;
}

[type='text']::placeholder {
    font-size: 12px;
}

.profile {
    width: 35px;
    margin: 0 10px;
}

.search {
    padding-top: 10px;
}

.myAccount {
    line-height: 55px;
    font-size: 14px;
}



/* Responsive menu */
.topnav {
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    line-height: 30px;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    border-bottom: 5px solid #1fa1d8;
    color: #fff;
}
.topnav a.active
{
        background-color: none;
        border-bottom: 5px solid #1fa1d8;
    }

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        width: 100%;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {

    .logo {
        display: none;
    }

    .search {
        display: none;
    }

    .menu {
        width: 100%;
    }

    .myAccount a {
        float:right;
    }

    .myAccount a:hover {
        text-decoration: underline;
    }

}

/* Users*/

#addUser [type='text'], [type='number'], [type='password'], [type='email'] {
    background-color: #ddd;
}

#addUser {
    padding: 50px 0;
    width: 100%:
}

/* Test Results*/

#testResults {
    padding: 50px 0;
}

.testresult {
    padding: 10px;
}

.testresult:nth-child(even) {
    background-color: #ddd;
}

.testresult:nth-child(odd) {
    background-color: #f5f4f4;
}

.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 20px;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
}

.active, .accordion:hover {
    color: #6b6b6b;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
}


/* Inloggen*/
#login {
    padding: 50px 0;
}

#login {
    width: 400px;
}

.center-screen .button {
    width:100%
}

.center-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 450px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.prehistorie {
    background-image: url(/images/prehistorieimg.png);
    background-size: 100px 100px;
}

.prehistorie:hover {
    background-image: url(/images/prehistorieimg2.png);
}

.oudheid {
    background-image: url(/images/oudheidicon.png);
    background-size: 100px 100px;
}

.oudheid:hover {
    background-image: url(/images/oudheid2.png);
}

.vmiddeleeuwen {
    background-image: url(/images/vroegmiddeleeuwen.png);
}

.vmiddeleeuwen:hover {
    background-image: url(/images/vroegmiddeleeuwen2.png);
}

.lmiddeleeuwen {
    background-image: url(/images/latemiddeleeuwen.png);
}

.lmiddeleeuwen:hover {
    background-image: url(/images/latemiddeleeuwen2.png);
}

.nieuwetijd {
    background-image: url(/images/nieuwetijd.png);
}

.nieuwetijd:hover {
    background-image: url(/images/nieuwetijd2.png);
}

.goudeneeuw {
    background-image: url(/images/goudeneeuw.png);
}

.goudeneeuw:hover {
    background-image: url(/images/goudeneeuw2.png);
}

.verlichting {
    background-image: url(/images/verlichting.png);
}

.verlichting:hover {
    background-image: url(/images/verlichting2.png);
}

.industrie {
    background-image: url(/images/industrie.png);
}

.industrie:hover {
    background-image: url(/images/industrie2.png);
}


.oorlog {
    background-image: url(/images/oorlog.png);
}

.oorlog:hover {
    background-image: url(/images/oorlog2.png);
}

.tv {
    background-image: url(/images/tv.png);
}

.tv:hover {
    background-image: url(/images/tv2.png);
}

.cc-selector input:active + .timeperiod {
    opacity: .9;
}

.cc-selector input:checked + .timeperiod {
    background-image: url('/images/done.png');
}

.timeperiod {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    width: 220px;
    height: 220px;
}

.timeperiod:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

[type='radio'] + label {
    margin-left: 0;
    margin-right: 0;
}
/* Extras */
a:visited {
    color: #888
}

a {
    color: #444;
    text-decoration: none;
}

p {
    margin-bottom: .3em;
}

/* Content */
#content {
    padding: 50px 0;
}
/* Exam */
#exam {
    padding: 30px 0;
}

.error {
    line-height: 14px;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

.wrong {
    background-color: #f44242;
    color: #fff !important;
}

.correct {
    background-color: #74b027;
    color: #fff !important;
}

#exam p {
    color: #afacac;
}

.category {
    margin: 5px;
    padding: 10px;
    background-color: #fbfbfb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* TimePeriod Slider*/

.glider-contain {
    width: 100%;
    margin: 0 auto;
}

.glider-slide {
    min-height: 150px;
}

    .glider-slide img {
        width: 100%;
    }

.glider-dot {
    display: none;
}

.item span {
    position: absolute;
    bottom: 10%;
    left: 20px;
    font-size: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 10px #ddd;
}

.item {
    transform: scale(1.0)
}

    .item:hover {
        transform: scale(1.1)
    }

.glider-contain {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.glider {
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: translateZ(0);
}

.glider-track {
    transform: translateZ(0);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
}

.glider.draggable {
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
}

    .glider.draggable .glider-slide img {
        user-select: none;
        pointer-events: none;
    }

.glider.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.glider-slide {
    user-select: none;
    justify-content: center;
    align-content: center;
    width: 100%;
}

    .glider-slide img {
        max-width: 100%;
    }

.glider::-webkit-scrollbar {
    opacity: 0;
    height: 0;
}

.glider-prev, .glider-next {
    user-select: none;
    position: absolute;
    outline: none;
    background: none;
    padding: 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: 0;
    border: 0;
    top: unset;
    cursor: pointer;
    color: #666;
    opacity: 1;
    line-height: 1;
    transition: opacity .5s cubic-bezier(.17,.67,.83,.67), color .5s cubic-bezier(.17,.67,.83,.67);
}

    .glider-prev:hover,
    .glider-next:hover,
    .glider-prev:focus,
    .glider-next:focus {
        color: #a89cc8;
    }

.glider-next {
    right: 0;
    left: auto;
}

    .glider-next.disabled,
    .glider-prev.disabled {
        opacity: .25;
        color: #666;
        cursor: default;
    }

.glider-slide {
    min-width: 150px;
}

.glider-hide {
    opacity: 0;
}

.glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}


@media(max-width: 36em) {
    .glider::-webkit-scrollbar {
        opacity: 1;
        -webkit-appearance: none;
        width: 7px;
        height: 3px;
    }

    .glider::-webkit-scrollbar-thumb {
        opacity: 1;
        border-radius: 99px;
        background-color: rgba(156, 156, 156, 0.25);
        box-shadow: 0 0 1px rgba(255,255,255,.25);
    }
}

/* Timeline */
#periodJagers, #periodGrieken, #periodMonniken, #periodSteden, #periodOntdekkers, #periodRegenten, #periodPruiken, #periodBurgers, #periodDe, #periodTelevisie {
    display: block;
    overflow: auto;
    padding: 100px;
}
.timeline h1 {
    color: #c7c7c7;
    font-weight: 700;
    font-size: 50px;
    width: 50%;
}

#periodGrieken, #periodSteden, #periodRegenten, #periodBurgers, #periodTelevisie {
    background-color: #efecec;
}

.timeline:before {
    content: '';
    position: absolute;
    height: 100%;
    left: 50%;
    width: 4px;
    background: #dad7d7;
    z-index: 1;
}

.timeline {
    position: relative;
    width: 100%;
    background-color: #f5f4f4;
}


.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    box-sizing: border-box;
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 45px 30px;
}

.timeline .row {
    padding-top: 50px;
}

.timeline ul li .right_content h2 {
    color: #29abe2;
    padding: 0px 2px 2px 0px;
    text-align: center;
    padding-top: 12px;
    text-transform: inherit;
    font-size: 20px;
    font-weight: 600;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.right_content {
    background-color: #fff;
    padding: 20px;
}

.left_content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ed1c24;
    border-radius: 50%;
    right: -7px;
    top: 24px;
    z-index: 1;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ed1c24;
    border-radius: 50%;
    left: -3px;
    z-index: 1;
    top: 24px;
}

.timeline ul li:nth-child(odd) .left_content {
    position: absolute;
    top: 25px;
    right: 40px;
    margin: 0;
    padding: 0 18px;
    background-color: #29abe2;
    border-radius: 2px;
}

.timeline ul li:nth-child(odd) .left_content h3 {
    color: #fff;
    padding-top: 6px;
    font-size: 12px;
}

.timeline ul li:nth-child(even) .left_content h3 {
    color: #fff;
    padding-top: 6px;
    font-size: 12px;
}

.timeline ul li:nth-child(even) .left_content {
position: absolute;
top: 25px;
left: 40px;
margin: 0;
padding: 0 18px;
background-color: #29abe2;
border-radius: 2px;
}


@media (max-width: 1000px) {

    .timeline {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .timeline {
        width: 100%;
    }

    .timeline:before {
        left: 20px;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
    }

    .timeline ul li:nth-child(odd):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .left_content,
    .timeline ul li:nth-child(even) .left_content {
        top: -30px;
        left: 50px;
        right: inherit;
    }

    #periodJagers, #periodGrieken, #periodMonniken, #periodSteden, #periodOntdekkers, #periodRegenten, #periodPruiken, #periodBurgers, #periodDe, #periodTelevisie {
        display: block;
        overflow: auto;
        padding: 0px;
    }

    .timeline ul li {
        padding: 0 10px 45px 10px;
    }

    .modal-content {
        width: 90%;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #29abe2;
}

input:focus + .slider {
    box-shadow: 0 0 1px #29abe2;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#audio audio {
    width:100%;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Analytic */

#analytic {
    padding: 50px 0px;
}

.grey {
    background-color: #f7f7f7;
    padding-top: 10px;
    height: 60px;
    margin-bottom: 5px;
}

/* Checkboxes*/

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float:left;
}

.goal {
    height: 50px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #dedddd;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #29abe2;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Radio buttons*/

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .radiobtn {
    background-color: #ccc;
}

.container input:checked ~ .radiobtn {
    background-color: #29abe2;
}

.radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .radiobtn:after {
    display: block;
}

.container .radiobtn:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .timeline {
        padding: 0px;
    }

    .timeline .button {
        float: right;
        margin-right: 10px;
    }

    h1 {
        margin-bottom: 30px;
        margin-left: 45px;
    }

    .timeline h1 {
        font-size: 20px;
    }
}

.grow {
    transition: 0.5s ease;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s ease;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

    .inputfile-1:focus + label,
    .inputfile-1.has-focus + label,
    .inputfile-1 + label:hover {
        background-color: #722040;
    }

.box {
    background-color: #dfc8ca;
    padding: 6.25rem 1.25rem;
}

    .box + .box {
        margin-top: 2.5rem;
    }
