body {
    font-family: 'Open Sans', sans-serif;
}

label {
    margin-left: 0rem;
}

h1 {
    font-size: 30px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 20px;
    color: #afacac;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 20px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}


h4 {
    font-size: 16px;
    color: #6b6b6b;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.medium {
    max-width: 80%;
}

.large {
    max-width: 90%;
}

.xlarge {
    max-width: 100%;
}

/* General Header*/
#header {
    background-color: #1e1e1e;
    color: #fff;
}

/* General Footer */

footer {
    background-color: #f7f7f9;
    padding: 10px 0;
    color: #808080;
    font-size: 12px;
}

/* Dashboard */

#dashboardContent {
    background-color: #f7f7f9;
    padding: 100px 0;
}

.dashboardItem {
    background-color: #fff;
    box-shadow: 0 0 5px #eeeded;
    min-height: 200px;
    padding: 20px;
}

.logo {
    width: 150px;
}

.button {
    background-color: #29abe2;
    color: #fff;
    border-radius: unset;
}

.button:hover {
    background-color: #ed1c24;
}

.ghost {
    background-color: unset;
    border: 1px solid #ed1c24;
    border-radius: unset;
    color: #ed1c24;
}

a {
    color: #29abe2;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border: unset;
    box-shadow: unset;
    border-radius: 1px;
}

[type='text']::placeholder {
    font-size: 12px;
}


.profile {
    width: 35px;
    margin: 0 10px;
}

.myAccount {
    font-size: 12px;
}

.myAccount i {
    color: #808080;
    font-size: 16px;
}

/* Responsive menu */
.topnav {
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    line-height: 30px;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #29abe2;
}

.active {
    color: #29abe2;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        width: 100%;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}

@media screen and (max-width: 768px) {
    .myAccount {
        display: none;
    }

    .logo {
        display: none;
    }

    .search {
        display: none;
    }

    .menu {
        width: 100%;
    }
}

/* Users*/

#addUser [type='text'], [type='number'], [type='password'], [type='email'] {
    background-color: #ddd;
}

#addUser {
    padding: 50px 0;
    width: 100%:
}

/* Test Results*/

#testResults {
    padding: 50px 0;
}


.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.prehistorie {
    background-image: url(/images/prehistorieimg.png);
    background-size: 100px 100px;
}

.prehistorie:hover {
    background-image: url(/images/prehistorieimg2.png);
}

.oudheid {
    background-image: url(/images/oudheidicon.png);
    background-size: 100px 100px;
}

.oudheid:hover {
    background-image: url(/images/oudheid2.png);
}

.vmiddeleeuwen {
    background-image: url(/images/vroegmiddeleeuwen.png);
}

.vmiddeleeuwen:hover {
    background-image: url(/images/vroegmiddeleeuwen2.png);
}

.lmiddeleeuwen {
    background-image: url(/images/latemiddeleeuwen.png);
}

.lmiddeleeuwen:hover {
    background-image: url(/images/latemiddeleeuwen2.png);
}

.nieuwetijd {
    background-image: url(/images/nieuwetijd.png);
}

.nieuwetijd:hover {
    background-image: url(/images/nieuwetijd2.png);
}

.goudeneeuw {
    background-image: url(/images/goudeneeuw.png);
}

.goudeneeuw:hover {
    background-image: url(/images/goudeneeuw2.png);
}

.verlichting {
    background-image: url(/images/verlichting.png);
}

.verlichting:hover {
    background-image: url(/images/verlichting2.png);
}

.industrie {
    background-image: url(/images/industrie.png);
}

.industrie:hover {
    background-image: url(/images/industrie2.png);
}


.oorlog {
    background-image: url(/images/oorlog.png);
}

.oorlog:hover {
    background-image: url(/images/oorlog2.png);
}

.tv {
    background-image: url(/images/tv.png);
}

.tv:hover {
    background-image: url(/images/tv2.png);
}

.cc-selector input:active + .timeperiod {
    opacity: .9;
}

.cc-selector input:checked + .timeperiod {
    background-image: url('/images/done.png');
}

.timeperiod {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    width: 220px;
    height: 220px;
}

.timeperiod:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

[type='radio'] + label {
    margin-left: 0;
    margin-right: 0;
}
/* Extras */
a:visited {
    color: #888
}

a {
    color: #444;
    text-decoration: none;
}

p {
    margin-bottom: .3em;
}

/* Exam */
#exam {
    padding: 30px 0;
}

.error {
    line-height: 14px;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

.wrong {
    background-color: #f44242;
}

.correct {
    background-color: #74b027;
}

#exam p {
    color: #afacac;
}



/* TimePeriod Slider*/

.glider-contain {
    width: 100%;
    margin: 0 auto;
}

.glider-slide {
    min-height: 150px;
}

.glider-slide img {
    width: 100%;
}

.glider-dot {
    display: none;
}

.item span {
    position: absolute;
    bottom: 10%;
    left: 20px;
    font-size: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 10px #ddd;
}

.item {
    transform: scale(1.0)
}

    .item:hover {
        transform: scale(1.1)
    }

.glider-contain {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.glider {
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    transform: translateZ(0);
}

.glider-track {
    transform: translateZ(0);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
}

.glider.draggable {
    user-select: none;
    cursor: -webkit-grab;
    cursor: grab;
}

    .glider.draggable .glider-slide img {
        user-select: none;
        pointer-events: none;
    }

.glider.drag {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.glider-slide {
    user-select: none;
    justify-content: center;
    align-content: center;
    width: 100%;
}

    .glider-slide img {
        max-width: 100%;
    }

.glider::-webkit-scrollbar {
    opacity: 0;
    height: 0;
}

.glider-prev, .glider-next {
    user-select: none;
    position: absolute;
    outline: none;
    background: none;
    padding: 0;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: 0;
    border: 0;
    top: unset;
    cursor: pointer;
    color: #666;
    opacity: 1;
    line-height: 1;
    transition: opacity .5s cubic-bezier(.17,.67,.83,.67), color .5s cubic-bezier(.17,.67,.83,.67);
}

    .glider-prev:hover,
    .glider-next:hover,
    .glider-prev:focus,
    .glider-next:focus {
        color: #a89cc8;
    }

.glider-next {
    right: 0;
    left: auto;
}

    .glider-next.disabled,
    .glider-prev.disabled {
        opacity: .25;
        color: #666;
        cursor: default;
    }

.glider-slide {
    min-width: 150px;
}

.glider-hide {
    opacity: 0;
}

.glider-dots {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}


@media(max-width: 36em) {
    .glider::-webkit-scrollbar {
        opacity: 1;
        -webkit-appearance: none;
        width: 7px;
        height: 3px;
    }

    .glider::-webkit-scrollbar-thumb {
        opacity: 1;
        border-radius: 99px;
        background-color: rgba(156, 156, 156, 0.25);
        box-shadow: 0 0 1px rgba(255,255,255,.25);
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

