@model EduriaData.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
    <html>
    <head>
        <link href="~/css/account.css" type="text/css" rel="stylesheet" />
        <link href="~/css/site.css" type="text/css" rel="stylesheet" />
        <link href="~/css/foundation.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="row">
            <div class="medium-12 columns">
                <div class="center-screen">

                    @if (string.IsNullOrEmpty(ViewBag.LLIT))
                    {
                        <p class="text-muted">Inloggen</p>
                    }
                    else
                    {
                        <p class="text-muted">Je was voor het laatst ingelogd op @ViewBag.LLIT</p>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <p class="alert green">Je bent al ingelogd. <br /> Ga naar het <a asp-controller="Dashboard" asp-action="Index">dashboard</a> toe</p>
                    }
                    else
                    {
                        <form asp-action="Login" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="UserNum" class="control-label"></label>
                                <input asp-for="UserNum" class="form-control" placeholder="Gebruikersnummer"/>
                                <span asp-validation-for="UserNum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Wachtwoord"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <label id="myBtn">Wachtwoord vergeten?</label><br />
                            <div class="form-group">
                                <input type="submit" value="Login" class="button blue" />
                            </div>
                        </form>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <form asp-action="ForgotPassword" method="post">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Reset wachtwoord" class="button blue" />
                                    </div>
                                </form>
                            </div>

                        </div>

                    }
                </div>
            </div>
        </div>
        <script src="~/js/site.js"></script>
    </body>
</html>
