
@{
    ViewData["Title"] = "LoggedIn";
}

@if (!User.Identity.IsAuthenticated)
{
    <h1>Je bent niet ingelogd.</h1>
}
else
{
    @if (User.IsInRole("Admin")) { <h1>Welkom @User.Identity.Name (Administrator)</h1> }
    else if (User.IsInRole("Teacher")) { <h1>Welkom @User.Identity.Name (Docent)</h1> }
    else { <h1>Welkom @User.Identity.Name (Leerling)</h1> }
}
