@model EduriaData.Models.User

@{
    ViewData["Title"] = "Login";
}

    <div class="center-screen">

        <h1>@ViewBag.Message</h1>
        @if (string.IsNullOrEmpty(ViewBag.LLIT))

        {
            <p class="text-muted">Welkom op je eerste login</p>
        }
        else
        {
           <p class="text-muted">Je was voor het laastst ingelogd op @ViewBag.LLIT</p>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <p>Je bent al ingelogd.</p>
        }
        else
        {
                
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="StudNum" class="control-label"></label>
                            <input asp-for="StudNum" class="form-control" />
                            <span asp-validation-for="StudNum" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Inloggen" class="button" />
                        </div>
                    </form>
        }
    </div>