
@{
    ViewData["Title"] = "PasswordReset";
}

<section id="content">
    <div class="row medium">
        <div class="medium-12 columns">
            <p>Er is een mail met een link naar @ViewBag.email verzonden indien deze bekend is in ons systeem.</p>
            <p><a href="@Url.Action("Index", "Login")">Terug naar Login</a></p>
        </div>
    </div>   
</section>

