<div class="medium-3 columns">
    <a asp-controller="Admin" asp-action="Index">
        <div class="columns dashboardItem darkgrey grow">
            <i class="fas fa-database fa-4x"></i><br /><br />
            Database tool
        </div>
    </a>
</div>
<div class="medium-3 columns ">
    <a asp-controller="CreateUser" asp-action="Create">
        <div class="columns dashboardItem darkgrey grow">
            <i class="fas fa-user fa-4x"></i><br /><br />
            Gebruiker aanmaken
        </div>
    </a>
</div>