<div class="medium-2 columns sideMenu">
    <a asp-controller="Analytic" asp-action="Method">Werkwijze</a>
    <a asp-controller="Analytic" asp-action="Subject">Onderwerpen</a>
    <a asp-controller="Analytic" asp-action="Goal">Doelen</a>
</div>