<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Eduria</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/foundation.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css"
              asp-fallback-href="~/js/foundation.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @*<partial name="_CookieConsentPartial" />*@
    <header id="header">
        <div class="row xlarge">
            <div class="medium-2 columns">
                <p>LOGO</p>
            </div>
            <div class="medium-6 columns">
                <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
                    <li>
                        <a href="#">Tijdlijn</a>
                        @*<ul class="vertical menu">
                            <li>
                                <a href="#">Item 1A</a>
                                <ul class="vertical menu">
                                    <li><a href="#">Item 1A</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Item 1B</a></li>
                        </ul>*@
                    </li>
                    <li><a href="#">Resultaten</a></li>
                    <li><a href="#">Prikbord</a></li>
                </ul>
            </div>
            <div class="medium-2 columns">
                <input type="text" placeholder="Zoeken..." />
            </div>
            <div class="medium-2 columns">
                <p>mijn account</p>
            </div>
        </div>    
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="row">
            <div class="medium-12 columns text-center">
                Copyright &copy; @DateTime.Now.Year - Eduria kennisapplicatie
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/foundation.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/foundation.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
