<div class="medium-3 columns">
    <a asp-controller="Exam" asp-action="Show">
        <div class="columns dashboardItem orange grow">
            <i class="fas fa-ruler-horizontal fa-4x"></i><br /><br />
            Start tijdvakkentoets
        </div>
    </a>
</div>
<div class="medium-3 columns">
    <a asp-controller="Analytic" asp-action="Goal">
        <div class="columns dashboardItem grey grow">
            Doel vaststellen
        </div>
    </a>
</div>