@using System.Security.Claims;

<a asp-controller="TimePeriods" asp-action="Index">Tijdvakken </a>
<a asp-controller="Exam" asp-action="Overview">Toetsen </a>
<a asp-controller="Result" asp-action="Index">Resultaten </a>
<a asp-controller="Timeline" asp-action="Index" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Mijn tijdlijn </a>
<a asp-controller="Lecturers" asp-action="Index">Docenten </a>