<div class="medium-3 columns">
    <a asp-controller="Exam" asp-action="Create">
        <div class="columns dashboardItem blue grow">
            <i class="fas fa-edit fa-4x"></i><br /><br />
            Creeer toets
        </div>
    </a>
</div>
<div class="medium-3 columns">
    <a asp-controller="Exam" asp-action="Show">
        <div class="columns dashboardItem orange grow">
            <i class="fas fa-ruler-horizontal fa-4x"></i><br /><br />
            Start tijdvakkentoets
        </div>
    </a>
</div>
<div class="medium-3 columns ">
    <a asp-controller="Analytic" asp-action="Index">
        <div class="columns dashboardItem grey grow">
            Analytics
        </div>
    </a>
</div>
<div class="medium-3 columns ">
    <a asp-controller="Analytic" asp-action="Period">
        <div class="columns dashboardItem purple grow">
            <i class="far fa-calendar-plus fa-4x"></i><br /><br />
            Periode vaststellen
        </div>
    </a>
</div>

