<div class="medium-3 columns">
    <a asp-controller="Exam" asp-action="Create">
        <div class="columns dashboardItem blue grow">
            <i class="fas fa-edit fa-4x"></i><br /><br />
            Cre&#235;er toets
        </div>
    </a>
</div>
<div class="medium-3 columns">
    <a asp-controller="Analytic" asp-action="Goal">
        <div class="columns dashboardItem red grow">
            <i class="fas fa-bullseye fa-4x"></i><br /><br />
            Doelen inzien
        </div>
    </a>
</div>
<div class="medium-3 columns">
    <a asp-controller="Analytic" asp-action="Period">
        <div class="columns dashboardItem orange grow">
            <i class="fas fa-bullseye fa-4x"></i><br /><br />
            Periode vaststellen
        </div>
    </a>
</div>
<div class="medium-3 columns ">
    <a asp-controller="Result" asp-action="Index">
        <div class="columns dashboardItem green grow">
            <i class="fas fa-poll fa-4x"></i><br /><br />
            Resultaten
        </div>
    </a>
</div>
<div class="medium-3 columns ">
    <a asp-controller="Analytic" asp-action="Period">
        <div class="columns dashboardItem purple grow">
            <i class="far fa-calendar-plus fa-4x"></i><br /><br />
            Periode vaststellen
        </div>
    </a>
</div>

