@model Eduria.Models.ExamPerStudentModel
@{
    ViewData["Title"] = "StudentExamResult";
}

<h2>StudentExamResult</h2>
<section id="testResults">
    <div class="row medium">
        <div class="medium-4 columns">
            Studentnaam <br />
            Toetsnaam
        </div>
        <div class="medium-4 columns">
            Datum start <br />
            Datum Klaar <br />
        </div>
        <div class="medium-4 columns">
            Chart
        </div>
    </div>
    <div class="row medium">
        <div class="medium-6 columns">
            Fout 
        </div>
        <div class="medium-6 columns">
           Goed
        </div>
    </div>
</section>

