@model Eduria.Models.ExamPerStudentModel
@{
    ViewData["Title"] = "StudentExamResult";
}

<section id="testResults">
    <div class="row medium info">
        <div class="medium-12 columns">
            <h2>Resutaat Student</h2>
        </div>
        <div class="medium-4 columns">
            <div class="columns block">
                Studentnaam <br />
                Toetsnaam
            </div>
       </div>
        <div class="medium-4 column">
            <div class="columns block">
                Datum start <br />
                Datum Klaar <br />
            </div>
        </div>
            <div class="medium-4 columns block">
                Chart
            </div>
        </div>
    <div class="row medium">
        <div class="medium-6 columns">
            <button onclick="toggleWrong()" class="toggle red">Foute vragen</button>
            <div id="wrong">
                Hier komen de vragen die foutief zijn beantwoord.
            </div>
        </div>
        <div class="medium-6 columns">
            <button onclick="toggleCorrect()" class=" toggle green">Goede vragen</button>
            <div id="correct">
                Hier komen de vragen die correct zijn beantwoord.
            </div>
        </div>
    </div>
</section>

