@model IEnumerable<Eduria.Models.UserTestModel>

@{
    ViewData["Title"] = "Toets Resultaten";
}

<h2>Toets resultaten</h2>

    <table class="table">
        <thead>
            <tr>
                <td>Voornaam</td>
                <td>Achternaam</td>
                <td>Toets</td>
                <td>Begonnen</td>
                <td>Afgerond</td>
                <td>Score</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Test</td>
                </tr>
            }
        </tbody>
    </table>

