@{
    ViewData["Title"] = "Create";
}
@{
    if (ViewBag.success == 1)
    {
        <p style="color:green;">Nieuwe toets is aangemaakt!</p>
    }
}

<h2>Create</h2>
<form asp-action="Create">
    <div class="questionDiv">
        <input type="text" name="examName" />
        <input type="text" name="examDescription" />
        <input type="number" name="examCategory" />
        <div id="questionBox">

        </div>
        <input type="button" onclick="AddQuestion()" value="Add Question">

    </div>
    <div class="form-group">
        <input type="submit" value="Aanmaken" class="button" />
    </div>
</form>

<script>
    var questions = [];
    var questionBox;
    var questionCount;
    window.onload = function () {
        questionBox = $("#questionBox");
    }

    function AddQuestion() {
        if (questions.length == 0) {
            questionCount = 0;
        }
        questions.push(new Question(questionCount));
        for (var i = 0; i < questions.length; i++) {
            if (questions[i].id == questionCount) {
                DrawQuestion(questionCount, questions.length);
            }
        }
        questionCount++;
    }

    function AddAnswer(qId) {
        var index;
        for (var i = 0; i < questions.length; i++) {
            if (questions[i].id == qId) {
                index = i;
            }
        }

        questions[index].CreateAnswer();
        for (var j = 0; j < questions[index].answers.length; j++) {
            if (questions[index].answers[j].id == (questions[index].answerCount - 1)) {
                DrawAnswer(questions[index].answers[j].id, qId);
            }
        }
    }

    function RemoveQuestion(count) {
        var div = "#question" + count + "";
        var button = "#show" + count + "";
        var questionDiv = $(div);
        var questionButton = $(button);
        questionDiv.remove();
        questionButton.remove();
        for (var i = 0; i < questions.length; i++) {
            if (questions[i].id == count) {
                questions.splice(i, 1);
                break;
            }
        }
    }
    function RemoveAnswer(questionId, answerId) {
        var div = "#answer" + questionId + "-" + answerId + "";
        var answerDiv = $(div);
        answerDiv.remove();
        var arr = questions[questionId].answers;
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].id == answerId) {
                arr.splice(i, 1);
                break;
            }
        }
    }
    function DrawQuestion(count, listIndex) {
        var questionText = "Question";
        for (var i = 0; i < questions.length; i++) {
            if (questions[i].id == count) {
                questionText = questions[i].text;
            }
        }
        var string = "<p><input type='button' id='show" + count + "' onClick='Show(" + count + ")' value='" + questionText + "'/></p>";
        string += "<div id='question" + count + "'>";
        string += "<input type='number' name='questionId' value= '" + count + "' disabled hidden/>";
        string += "<p><input type='text' id='text" + count + "' name='questionText' placeholder='Question " + listIndex + "'/>";
        string += "<input type='button' onClick = 'RemoveQuestion(" + count + ")' value='Verwijder'/></p>";
        string += "<p><input type='text' id='category" + count + "' name='questionCategory' placeholder='category'/></p>";
        string += "<p><select id='mediatype" + count + "' name='questionMediaType'>";
        string += "<option value = '0'>None</option>";
        string += "<option value = '1'>Audio</option>";
        string += "<option value = '2'>Image</option>";
        string += "<option value = '3'>Video</option>";
        string += "</select></p>";
        string += "<p><input type='text' id='medialink" + count + "' name='questionMedialink' placeholder='medialink'/></p>";
        string += "<div id='answers" + count + "'></div>";
        string += "<p><input type='button' onclick='AddAnswer(" + count + ")' value='Add Answer'/></p>";
        string += "</div>"
        questionBox.append(string);
        Show(count);
    }
    function DrawAnswer(id, questionId) {
        var div = "#answers" + questionId + "";
        var answersbox = $(div);
        var string = "<div id='answer" + questionId + "-" + id + "'>";
        string += "<p><input type='text' id='answertext" + questionId + "-" + id + "' name='answerText'placeholder='answer " + id + "'/>";
        string += "<input type='checkbox' id='correct" + id + "' name='answerCorrect'>";
        string += "<input type='text' name='answerQuestionId' value='" + questionId + "'>";
        string += "<input type='button' onClick = 'RemoveAnswer(" + questionId + ", " + id + ")' value='Verwijder'/></button></p>";
        string += "</div>";
        answersbox.append(string);
    }

    function Show(index) {
        for (var i = 0; i < questions.length; i++) {
            SaveQuestion(i);
            var div = "#question" + questions[i].id + "";
            if (questions[i].id == index) {
                $(div).show();
            } else {
                $(div).hide();
            }
        }
    }

    function SaveQuestion(index) {
        var div = "#show" + index + "";
        var input = "#text" + index + "";
        var cat = "#category" + index + "";
        var mType = "#mediatype" + index + "";
        var mLink = "#medialink" + index + "";
        var inputText = $(input).val();
        var inputCat = $(cat).val();
        var inputType = $(mType).val();
        var inputLink = $(mLink).val();
        $(div).empty();
        if (inputCat != "") {
            questions[index].category = inputCat;
        }
        if (inputType != "") {
            questions[index].mediaType = inputType;
        }
        if (inputLink != "") {
            questions[index].mediaLink = inputLink;
        }
        if (inputText != "") {
            questions[index].text = inputText;
            $(div).val(questions[index].text);
        }
        else {
            $(div).append("Question");
        }
        questions[index].SaveAnswers();
    }
    function SaveAnswer(questionId, answerId) {
        var input = "#answertext" + questionId + "-" + answerId + "";
        var inputAnswerText = $(input).val();
        var index = GetQuestionIndex(questionId);
        if (inputAnswerText != "") {
            questions[index].answers[answerId].text = inputAnswerText;
        }
    }

    function GetQuestionIndex(id) {
        for (var i = 0; i < questions.length; i++) {
            if (questions[i].id == id) {
                return i;
            }
        }
    }

    function Question(id) {
        this.id = id;
        this.answerCount = 0;
        this.text = "Question";
        this.category = "none";
        this.mediaType = "none";
        this.mediaLink = "";
        this.answers = [];

        this.CreateAnswer = function () {
            if (this.answers.length == 0) {
                this.answerCount = 0;
            }
            this.answers.push(new Answer(this.answerCount, id));
            this.answerCount++;
        }

        this.SaveAnswers = function () {
            for (var i = 0; i < this.answers.length; i++) {
                SaveAnswer(this.id, this.answers[i].id);
            }
        }
    }

    function Answer(id, questionId) {
        this.id = id;
        this.questionId = questionId;
        this.text = "";
    }

</script>
