@model Eduria.Models.ExamModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div class="questionDiv">
    <div id="questionBox">
    
    </div>
    <button onclick="AddQuestion()">
        Add Question
    </button>
</div>

<script>       
    var questions = [];
    var questionBox;
    window.onload = function () {
        questionBox = $("#questionBox");
    }
    function AddQuestion() {
        questions.push(new Question(questions.length-1));
        DrawQuestion(questions.length-1);
    }
    function AddAnswer(index) {
        questions[index].answers.push(new Answer(questions.length, index));
        DrawAnswer(index);
    }
    function RemoveQuestion(index) {
        var div = "#question" + index + "";
        var questionDiv = $(div);
        questionDiv.remove();
    }
    function RemoveAnswer(answerId) {

    }
    function DrawQuestion(index) {  
        var string = "<div id='question" + index + "'>";
        string += "<p><input type='text' name='text' placeholder='Question'/>";
        string += "<button onClick = 'RemoveQuestion(" + index + ")'>Verwijder</button ></p>";
        string += "<p><input type='text' name='category' placeholder='category'/></p>";
        string += "<div id='answers" + index + "'></div>";
        string += "<p><button onclick='AddAnswer(" + index + ")'>Add Answer</button></p>";
        string += "</div>"
        questionBox.append(string);
    }
    function DrawAnswer(index) {
        var div = "#answers" + index + "";
        var answersbox = $(div);
        var string = "<div id='answer" + index + "-" + (questions[index].answers.length-1) + "'>";
        string += "<p><input type='text' name='" + questions[index].id + (questions[index].answers.length) + "'placeholder='answer'/></p>";
        string += "</div>";
        answersbox.append(string);
    }
    function Question(id) {
        this.id = id;
        this.answers = [];
    }   
    function Answer(id, questionId) {
        this.id = id;
        this.questionId = questionId;
    }

</script>