@model Eduria.Models.TimelineModel
@{
    ViewData["Title"] = "ViewTimeline";
}

<div class="timeline">
    @foreach (TimeblockModel timeBlockModel in Model.TimeblockModels)
    {
        string modelName = timeBlockModel.TimeTableModel.Text;
        modelName = char.ToUpper(modelName[0]) + modelName.Substring(1);
        string name = "period" + modelName;
        <section id=name>
            <div class="row">
                <h1>@modelName</h1>
            </div>
            <ul>
                @foreach (TimeBlockInformationModel timeBlockInformationModel in timeBlockModel.TimeBlockInformationModels)
                {
                    <li>
                        <div class="right_content">
                            <h2>@timeBlockInformationModel.Name</h2>
                            <p>
                                @timeBlockInformationModel.Description
                            </p>
                        </div>
                        <div class="left_content">
                            <h3>@timeBlockInformationModel.Name</h3>
                        </div>
                    </li>
                }
            </ul>
        </section>
    }
</div>
