
@{
    ViewData["Title"] = "ViewTimeline";
}

    <div class="timeline">
        <section id="periodPrehistorie">
            <div class="row">
                <h1>Tijd van Jagers en Boeren</h1>
            </div>
            <ul>
                <li>
                    <div class="right_content">
                        <h2>De levenswijze van jager-verzamelaars</h2>
                        <p>
                            De eerste menssoort die wij op deze aarde hadden waren jager-verzamelaars.
                        </p>
                        <label id="myBtn">lees meer</label>
                    </div>
                    <div class="left_content">
                        <h3>tot 3000 V.Chr.</h3>
                    </div>
                </li>
                <li>
                    <div class="right_content">
                       <h2>De levenswijze van jager-verzamelaars</h2>
                        <p>
                            De eerste menssoort die wij op deze aarde hadden waren jager-verzamelaars.
                        </p>
                    </div>
                    <div class="left_content">
                        <h3>tot 3000 V.Chr.</h3>
                    </div>
                </li>
                <li>
                    <div class="right_content">
                        <h2>De levenswijze van jager-verzamelaars</h2>
                        <p>
                            A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
                            journalistic styles, a paragraph can be just one sentence long.
                        </p>
                    </div>
                    <div class="left_content">
                        <h3>tot 3000 V.Chr.</h3>
                    </div>
                </li>
            </ul>
        </section>
        <ul>
            <li>
                <div class="right_content">
                    <h2>Sample Text</h2>
                    <p>
                        A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
                        journalistic styles, a paragraph can be just one sentence long.
                    </p>
                </div>
                <div class="left_content">
                    <h3>April 2019 </h3>
                </div>
            </li>
            <li>
                <div class="right_content">
                    <h2>Sample Text</h2>
                    <p>
                        A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
                        journalistic styles, a paragraph can be just one sentence long.
                    </p>
                </div>
                <div class="left_content">
                    <h3>May 2019 </h3>
                </div>
            </li>
            <li>
                <div class="right_content">
                    <h2>Sample Text</h2>
                    <p>
                        A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
                        journalistic styles, a paragraph can be just one sentence long.
                    </p>
                </div>
                <div class="left_content">
                    <h3>June 2019 </h3>
                </div>
            </li>
            <li>
                <div class="right_content">
                    <h2>Sample Text</h2>
                    <p>
                        A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
                        journalistic styles, a paragraph can be just one sentence long.
                    </p>
                </div>
                <div class="left_content">
                    <h3>July 2019 </h3>
                </div>
            </li>
            <li>
                <div class="right_content">
                    <h2>Sample Text</h2>
                    <p>
                        A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
                        journalistic styles, a paragraph can be just one sentence long.
                    </p>
                </div>
                <div class="left_content">
                    <h3>August 2019 </h3>
                </div>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
