
@{
    ViewData["Title"] = "Index";
}

<section id="dashboardContent">
    <div class="row large">
        <div class="medium-3 columns">
            <div class="columns dashboardItem">
                hoi
            </div>
        </div>
        <div class="medium-3 columns ">
            <div class="columns dashboardItem">
                hoi
            </div>
        </div>
        <div class="medium-3 columns ">
            <div class="columns dashboardItem">
                hoi
            </div>
        </div>
        <div class="medium-3 columns ">
            <div class="columns dashboardItem">
                hoi
            </div>
        </div>
    </div>
</section>

