
@{
    ViewData["Title"] = "Dashboard";
}

<section id="dashboardContent">
    <form>
        <div class="row large">
            @if (User.IsInRole("Admin"))
            {
                <partial name="_AdminDashboardView" />
            }
            else if (User.IsInRole("Teacher"))
            {
                <partial name="_TeacherDashboardView" />
            }
            else
            {
                <partial name="_StudentDashboardView" />
            }
        </div>
    </form>
</section>