
@{
    ViewData["Title"] = "Index";
}

<section id="dashboardContent">
    <div class="row large">
        <div class="medium-3 columns">
            <div class="columns dashboardItem">
                <a asp-controller="TimePeriods" asp-action="Index">
                    <i class="fas fa-calendar"></i><br />
                    <span>Tijdvakken</span>
                </a>
            </div>
        </div>
        <div class="medium-3 columns ">
            <div class="columns dashboardItem">
                <a asp-controller="Timeline" asp-action="Index">
                    <i class="fas fa-stream"></i><br />
                    <span>Tijdlijn</span>
                </a>
            </div>
        </div>
        <div class="medium-3 columns ">
            <div class="columns dashboardItem">
                <input type="button" class="button" value="dit is een button" />
                <input type="button" class="button ghost" value="dit is een ghost button" /><br />
                <a href="#">Dit is een link</a>
            </div>
        </div>
        <div class="medium-3 columns ">
            <div class="columns dashboardItem">
                <a asp-controller="CreateUser" asp-action="Create">
                    Gebruiker aanmaken
                </a>
                <a asp-controller="Password" asp-action="Password">
                    Wachtwoord vergeten?
                </a>
                <a asp-controller="Password" asp-action="Reset">
                    Wachtwoord vergeten?
                </a>

            </div>
        </div>
    </div>
</section>
