@model Eduria.Models.UserModel

@{
    ViewData["Title"] = "Reset";
}

@{
    if (ViewBag.success == 1)
    {
        <p style="color:green;">Wachtwoord is gereset</p>
    }
}

<div class="row">
    <div class="medium-12 columns">
        <form asp-action="Reset" method="post">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <input type="text" id="token" name="Token" value="@ViewBag.Token"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset wachtwoord" class="button" />
            </div>
        </form>
    </div>
</div>
<script>
    window.onload = function () {
        $("#token").hide();
    };
</script>
