@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="medium-12 columns">
        <div class="center-screen">
            <span style="color: red; margin-left: 65px;">
                <i class="fas fa-exclamation-triangle fa-9x"></i>
            </span>
            <h1>Helaas is er een fout opgetreden..</h1>
            <h3>Probeer het later opnieuw!</h3>
        </div>
    </div>
</div>