@{
    ViewData["Title"] = "Geen rechten";
}

<div class="row">
    <div class="medium-12 columns">
        <div class="center-screen">
            <span style="color: orange; margin-left: 65px;">
                <i class="fas fa-ghost fa-9x"></i>
            </span>
            <h1>Helaas heb je geen rechten tot deze pagina...</h1>
            <h3>Doei!</h3>
        </div>
    </div>
</div>
