@{
    ViewData["Title"] = "Pagina niet gevonden";
}

<div class="row">
    <div class="medium-12 columns">
        <div class="center-screen">
            <span style="color: orange; margin-left: 65px;">
                <i class="fas fa-exclamation-circle fa-9x"></i>
            </span>
            <h1>Helaas deze pagina bestaat niet...</h1>
            <h3>Probeer <a asp-controller="Login">deze</a> pagina eens!</h3>
        </div>
    </div>
</div>
