@model DataExamResultModel

@{
    ViewData["Title"] = "ExamResult";
}

<h2>ExamResult</h2>

<b>@Model.Name | @Model.Description</b>

<div class="row">
    <div class="medium-6 columns">
        <canvas id="examChart" width="400" height="400"></canvas>
    </div>
</div>
<script>
var ctx = document.getElementById('examChart').getContext('2d');
var examChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Totaal gemaakt', 'Foutief beantwoord', 'In een keer goed beantwoord'],
        datasets: [{
            label: 'Rood',
            data: [@Model.TotalTimesDone],
            backgroundColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(123, 239, 178, 1)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(123, 239, 178, 1)'
            ],
            borderWidth: 3
        }]
    }
});
</script>